/*Identify th variables*/
:root{
    --redwood:#A45851;
    --oliveDrab7:#43402F;
    --babyPowder:#F8F8F1;
    --phthaloGreen:#1D2D10;
    --white:#fdfdfd;
    --gray:#d6d8d2;
    --steelBlue:#5880A6;
    --text-color1:rgb(15, 43, 2);
    --text-color2:rgb(255, 241, 220);
    --shadow:rgb(22, 100, 20);
    --shadow2:rgb(198, 240, 10);
    --color: #636b53;
    --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
    --outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
    --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;

}
body{
    background-color:var(--albaster);
    overflow-x: hidden;
}

.outer-shadow{
    box-shadow: var(--outer-shadow);
}
.inner-shadow{
    box-shadow: var(--inner-shadow);
}
/* .container{
    background-color: red;
} */
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.hover-in-shadow{
    position: relative;
    z-index: 1;
}
.hover-in-shadow:hover{
    box-shadow:var(--outer-shadow-0);
}
.hover-in-shadow::after{
    content: "";
    position:absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}
.hover-in-shadow:hover:after{
    box-shadow: var(--inner-shadow);
}
.btn{
    padding: 10px 25px;
    font-size: 18px;
    font-weight: 500;
    color: var(--redwood);
    background-color: transparent;
    line-height: 1.5;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.3s ease;

}
.btn::after{
    border-radius: 30px;
}

.effect-wrap .effect{
    position: absolute;
    z-index: -1;
}
.effect-1{
    width: 30px;
    height: 30px;
    border: 4px solid #f54dc3 ;
    right: 10%;
    top : 10%;
    animation: spin 10s linear infinite;
}
.effect-2{
  width: 100px;
  height: 100px;
  position: relative;
  left:-40px;
  border: 6px solid var(--shadow2) ;
  bottom : 30%;
  display: flex;
  justify-content: space-between;
  border-radius: 50%;
  overflow: hidden;
  animation: topBounce 5s infinite;
}
.effect-2 div{
    width:3px;
    background:var(--color);
}
.effect-3{
    width: 180px;
    height: 180px;
    border: 20px solid var(--redwood) ;
    border-radius: 50%;
    left: 30%;
    top:-100px;
    animation: leftBounce 5s infinite;
}
.effect-4{
    border-top: 30px solid transparent;
    border-right:30px solid #0adcf8;
    left:50%;
    bottom:20%;
}
.effect-4::before{
    content: '';
    border-top: 30px solid transparent;
    border-right:30px solid #0adcf8;
    position:absolute;
    opacity: 0.5;
    right:-35px;
    top:-25px;
}
.effect-5{
   height: 40px;
   width: 40px;
   right: 4%;
   bottom: 30%;
   display: flex;
   justify-content: space-between;
   border-radius: 60%;
   overflow: hidden;
}
.effect-5 div{
    width:1px;
    background-color: rgb(238, 130, 180);
  
}
  
@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}
@keyframes topBounce {
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(25px);
    }
}
@keyframes leftBounce {
    0%,100%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(25px);
    }
}
.section-title{
    padding: 0 15px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom:60px ;
}
.section-title h2{
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}
.section-title h2::before{
    content: attr(data-heading);
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: var(--redwood);
}
.section.hide{
    display: none;
}
/*-----Header-----*/
header{
    padding: 20px 15px;
    width:100%;
    height: 100px; 
    position: absolute; 
    top:0;
    left:0;
    z-index: 99;
}
/*my logo*/
header .logo a{
    display: inline-block;
    text-align: center;
    line-height: 36px;
    height: 40px;
    width: 40px;
    font-size: 24px;
    color: var(--redwood);
    border-radius: 50%;
    border: 2px solid var(--redwood);
    text-transform: capitalize;
}
header .hamburger-btn{
    height: 40px;
    width: 40px;
    box-shadow: 0 0 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    justify-content: center;
    transition: all 0.3s ease;
}
header .hamburger-btn::after{
    border-radius: 50%;
}
header .hamburger-btn span{
    display: block;
    height: 2px;
    width: 16px;
    background-color:var(--oliveDrab7);
    position: relative;
}
header .hamburger-btn span::before,
header .hamburger-btn span::after{
    content:"";
    position:absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:var(--oliveDrab7);
}
header .hamburger-btn span::before{
    top: -6px;
}
header .hamburger-btn span::after{
    top: 6px;
}
/*Navigation menu*/
.nav-menu{
    position: fixed;
    background-color:var(--babyPowder);
    padding:0 15px;
    left:0;
    top:0;
    width: 100%;
    height: 100%; 
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    overflow-y:auto;  
}
.nav-menu.open{
    visibility: visible;
    z-index: 999;
    opacity: 1;
}

.nav-menu .close-nav-menu{
    height: 40px;
    width: 40px;
    display: block;
    font-size: 35px;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    top:15px;
    cursor: pointer;
    text-align: center;
    color:var(--oliveDrab7);
    transition: all 0.3s ease-out;

}
.nav-menu .close-nav-menu::after{
    border-radius: 50%;
}
.nav-menu-inner{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.nav-menu ul{
    /* background-color: rgb(151, 151, 224); */
    padding: 15px;
}
.nav-menu ul li{
    display: block;
    margin-bottom:20px;
    text-align: center;

}
.nav-menu ul li:last-child{
   
    margin-bottom:0;
    
}
.nav-menu ul li a{
    display: inline-block;
    font-size: 28px;
    font-weight: 600;
    color:var(--phthaloGreen);
    padding: 5px 30px;
    text-transform: capitalize;
    border-radius: 30px;
    transition: all 0.3s ease-out;
}
.nav-menu ul li a.active{
    color: var(--redwood);
}

.nav-menu ul li a::after{
    border-radius: 30px;
}
/*Home*/
.home-section{
    position: relative;
}
.home-section .full-screen{
    padding: 50px 0;
    min-height: 100vh;
}
.home-section .home-text,
.home-section .home-img{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
    

}
.home-section .home-text {
    padding: 70px;
}
.home-section .home-text p{
    color: #5880A6;
    font-size: 18px;
    text-transform: capitalize;
    margin: 0;
}
.home-section .home-text h2{
    font-size: 55px;
    color:black;
    margin: 0;
    font-weight: 700;
}
.home-section .home-text h1{
    color: #4b7aa7;
    font-size: 20px;
    font-weight: 600;
    margin: 0;

}
.home-section .home-img .img-box{
    max-width: 450px;
    display: block;
    margin: 10px;
    border-radius:50%;
    padding: 10px;
    

}
.home-section .home-img .img-box img{
    width:100%; 
    border-radius: 50%;
    border: 6px solid transparent; 
}
/*About me*/
.about-section{
    padding: 80px 0 80px;
    min-height: 100vh;
}
.about-section .about-img{
    flex: 0 0 40%;
    padding: 0 15px;


}
.about-section .about-img .img-box{
    padding: 30px;
}
.about-section .about-img .img-box img{
    width: 100%;
    border: 10px solid transparent;
    border-radius: 5px;
}

.about-section .info{
    flex: 0 0 60%;
    max-width: 60%;
    height: 55vh;
    padding: 0 15px;

}
.about-section .info p{
    line-height: 26px;
    margin-bottom:30px ;
}
.about-section .info span{
    font-weight: 600;
}
.about-section .info .btn {
 margin: 30px 20px 0 0;
}
/*  My projects*/
.project-section{
    padding: 80px 0 80px;
    min-height: 100vh;
}
.project-section .project-item{
    flex: 0 0 33.33%;
    max-width:33.33%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}
.project-section .project-item-inner{
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    widows: 100%;
    
}
.project-section .project-item-inner p{
    font-size: 18px;
    margin: 20px 0 20px;
    text-transform: capitalize;
    color: var(--oliveDrab7);
}
.project-section .project-item-inner a{
    font-size: 16px;
    margin: 20px 0 20px;
    text-transform: capitalize;
}
.project-section .project-item-img img{
    border-radius: 5px;
    width: 100%;
}
.project-section .project-item-inner:hover .project-item-img img{
    transform: translateY(-10px);
}
/*Make the webpage responsive*/
@media (max-width: 768px){
    .home-section .home-text, .home-section .home-img {
        flex: 0 0 100%;
        max-width: 100%;
        
    }
    .home-section .home-text{
        order: 2;
        text-align: center;
        margin-top:-200px;
    }
    .home-section .home-img {
        max-width: 300px;
        margin: 0px 0 0 240px;
    }
    .effect-5{
        bottom: 50%;
        right: 20%;
    }
    .about-section .about-img {
        flex: 0 0 70%;
        padding: 0px 20px;
        margin-left: 120px;
    }
    .about-section .info {
        flex: 0 0 99%;
        max-width: 100%;
        padding: 25px 15px;
        order: 2;
    }
    .project-section .project-item {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 15px;
        display: flex;
        flex-wrap: wrap;
    }
}
@media (max-width: 414px){
    
    .home-section .home-text, .home-section .home-img {
        flex: 1 0 55%;
        max-width: 100%;
        
    }
    .home-section .home-img  {
        max-width: 300px;
        margin: 0 0 0 60px;
        padding: 0px;
    }
    .home-section .home-text{
        order: 2;
        margin-top: 3px;
        text-align: center;
        padding: 0px;
       
    }
    .effect-4{
        bottom: 70%;
        right: 10%;
    }
    .effect-5{
        bottom: 40%;
        right:6%;
    }
}
@media (max-width: 414px){
    .about-section .about-img {
        flex: 0 0 100%;
        padding: 0px 20px;
    }
    .about-section .info {
        flex: 0 0 99%;
        max-width: 100%;
        height: 55vh;
        padding: 25px 15px;
        order: 2;
    }
    .project-section .project-item {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 15px;
        display: flex;
        flex-wrap: wrap;
    }
}

/*contact me*/
.contact{
    margin-top:5px ;
}

.contact h4{
    background-color:var(--white);
    justify-content: center;
    align-items: baseline;
    font-family: monospace;
    font-size: 30px;
    text-align:center;
    padding: 20px 0px;
    color: var(--text-color1);
}
.contact ul{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color:var(--white);
    text-align:center;
    margin: 0 auto;
    padding: 20px 0px;
}
.contact ul li{
    display: inline-block;
    padding: 0 10px;
    list-style: none;
}
.contact ul li a{
   
    font-family: inherit;
    font-size: 16px;
    color: var(--text-color1);
}
/*desktop size */
@media screen and (min-width: 992px){
    .contact h4{
        background-color:var(--white);
        justify-content: center;
        align-items: baseline;
        font-size: 40px;
        text-align:center;
        padding: 20px 0px;
    }
    .contact ul li a{
        font-size: 22px;
        padding: 10px 0px;
        color: var(--text-color1); 
        flex-direction: row;
        justify-content: center;
         
    }
}
/*phone size*/
/*footer*/
footer{
    margin-top: 5px;
    background-color: var(--white);
    color: var(--color);
    text-align: center;
    font-size: 20px;
    padding: 10px;
    font-family: monospace;
}
footer p {
    color: var(--gray);
    line-height: 24px;
    margin: 0;
    font-size: 16px;
    margin-bottom: 24px;
    padding: 10px;

}
/*desktop size */
@media screen and (min-width: 992px){
  footer{
    font-size: 25px;
  } 
  footer p {  
    font-size: 18px;
  }
}




